<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>       123123</p>

  <img src='/qrcode/getqrimg?text=http://www.baidu.com' >


  <a href="demo/login">登录</a>

    <script>
      $config = {
        token: '<%= token.token %>'
      }
    </script>
  </body>
</html>
