<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>登录</h1>


<form method="post" action="users/login">
   name: <input name="username" type="text">
    pwd:<input name="password" type="password">
    <input type="submit" value="提交">
</form>
</body>
</html>
